* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html, body{
    /* To make the foter stick to bottom of page */
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-size: 16px;
}

@media only screen and (min-width: 376px) {
    body {
        background-image: url('./images/bg-pattern-desktop.svg');
    }
}

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 376px) {
    .container {
        flex-wrap: wrap;
        height: 100%;
    }
}

/****** Logo ******/

.logo {
    margin: 1em 2em;
}

@media only screen and (min-width: 376px) {
    .logo {
        position: absolute;
        margin-left: 10%;
        z-index: 10;
    }
}

/****** Image ******/

.image {
    width: 100%;
}

@media only screen and (min-width: 376px) {
    .image {
        align-self: flex-end;
        width: 40%;
        order: 3;
        margin: auto 0;
    }

    .image > img {
        width: 100%;
        content: url(./images/hero-desktop.jpg);
    }
}

/****** Main Content ******/

.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 10% auto;
}

@media only screen and (min-width: 376px) {
    .main-content {
        width: 33%;
        margin: auto;
        margin-top: 10%;
        margin-left: 10%;
        text-align: left;
    }
}

.heading {
    font-size: 1.5em;
    letter-spacing: 0.4em;
    margin-bottom: 1em;
    color: hsl(0, 6%, 24%);
}

@media only screen and (min-width: 376px) {
    .heading {
        font-size: 2em;
    }
}

.heading-top-line{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.main-content > p {
    color: hsl(0, 36%, 70%);
    margin-bottom: 3em;
    line-height: 24px;
}

.email-form {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

input[type='email'] {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 100%, 98%);
}

.email-submit {
    width: 20%;
    height: 60px;
    border-radius: 50px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.email-submit > img {
    margin: 20% 40%;
    height: 50%;
}

footer {
    flex-shrink: 0;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (min-width: 376px) {
    footer {
        position: absolute;
        bottom: -10%;
        text-align: left;
        margin-left: 10%;
        margin-top: 5%;
    }
}

footer > p {
    display: inline-block;
    padding: 0.3em 0.5em;
}